article {
    margin: 0 auto;
    max-width: 50%;
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 2px solid black;
}

strong{
    color: orangered;
}

code {
    color: blue;
}

li > img:nth-of-type(1) {
    width: 60%;
}